body{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}
h2 {
    text-align: center;
}
.dashboard-container {
    padding: 20px;
}

.dashboard-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.green {
    background-color: #80C980;
}

.orange {
    background-color: #F4A742;
}

.purple {
    background-color: #D88BFC;
}

.blue {
    background-color: #67C6C0;
}

h3 {
    font-size: 24px;
}
